{% extends 'base.html' %}

{% block title %} PRESTAMO | EDIT {% endblock %}

{% block content %}
<h1>Actualización de prestamos</h1>
<form action="{{url_for('prestamo.edit', id=prestamo.id)}}" method="POST">
    <div class="mb-3">
        <label for="" class="form-label">Cliente</label>
        <select name="cliente_id" class="form-control" required>
            <option value="">Seleccione un cliente:</option>
            {% for cliente in clientes %}
                <option value="{{cliente.id}}" {% if cliente.id == prestamo.cliente_id  %} selected {% endif %}>{{cliente.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Producto</label>
        <select name="producto_id" class="form-control" required>
            <option value="">Seleccione un producto:</option>
            {% for producto in productos %}
                <option value="{{producto.id}}" {% if producto.id == prestamo.producto_id  %} selected {% endif %}>{{producto.descripcion}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Vendedor</label>
        <select name="vendedor_id" class="form-control" required>
            <option value="">Seleccione un vendedor:</option>
            {% for vendedor in vendedores %}
                <option value="{{vendedor.id}}" {% if vendedor.id == prestamo.vendedor_id  %} selected {% endif %}>{{vendedor.nombre}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Estado</label>
        <input type="text" class="form-control" name="estado" value="{{prestamo.estado}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Actualizar prestamo</button>
</form>

{% endblock %}