{% extends 'base.html' %}

{% block title %} CLIENTE | CREATE {% endblock %}

{% block content %}
<h1>Registro de clientes</h1>
<form action="{{url_for('cliente.create')}}" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono">
    </div>
    <button class="btn btn-primary" type="submit">Registrar Cliente</button>

</form>
{% endblock %}