{% extends 'base.html' %}

{% block title %} CLIENTE | EDIT {% endblock %}

{% block content %}
<h1>Actualización de cliente</h1>
<form action="{{url_for('cliente.edit', id=cliente.id)}}" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{cliente.nombre}}" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" value="{{cliente.telefono}}">
    </div>
    <button class="btn btn-primary" type="submit">Actualizar Cliente</button>

</form>
{% endblock %}